<a href="https://colab.research.google.com/github/VanshJain-me/python_handbook/blob/main/core_concepts/8_Type_Conversions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Type Conversions

Type conversions are used to convert one type of data type to another.

## The str() function

The str() function is used to convert the data to a string format.

In [1]:
number = 10
print(type(number))

number = str(number)
print(number)
print(type(number))

<class 'int'>
10
<class 'str'>

## The int() function

The int() function is used to convert data to an integer format. The input to the function have to be numeric in nature.

In [2]:
number = '100'
print(type(number))

number = int(number)
print(number)
print(type(number))

<class 'str'>
100
<class 'int'>

If a decimal value is given to the int function, the decimal part is removed and the integer part is kept.

In [3]:
number = 100.001
print(type(number))

number = int(number)
print(number)
print(type(number))

<class 'float'>
100
<class 'int'>

## The float() function

The float() function is used to convert data to an float format. The input to the function have to be numeric in nature.

In [4]:
number = '100'
print(type(number))

number = float(number)
print(number)
print(type(number))

<class 'str'>
100.0
<class 'float'>